body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: "Noto Serif", serif;
    font-style: normal;
}

.glow {
    text-shadow: 
        0 0  5px rgba(255, 255, 255, 0.1),
        0 0 11px rgba(136, 255, 172, 0.4),
        0 0 17px rgba(136, 255, 172, 0.801),
        0 0 25px rgba(136, 255, 172, 0.801);
}

.box ul {
    padding-inline-start: 12px;
}

.blog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 5px 0;
}

.content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4px;
    margin: 4px 0;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.box {
    border: 1px solid white;
    padding: 5px;
    margin: 5px 0;
    cursor: pointer;
    text-align: justify;
    transition: background-color 0.3s;
}

.box:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.box code {
    background-color: rgba(31, 57, 32, 0.1);
    padding: none;
    margin: none;
}
.tab {
    overflow: hidden;
    background-color: black;
}

.tab button {
    background-color: inherit;
    color: white;
    font-family: "Noto Serif", serif;
    font-style: normal;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 4px 6px;
}

.tab button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.tab button.active {
    background-color: rgba(215, 215, 215, 0.4);
}

.tabcontent {
    display: none;
    padding: 4px;
    border: 1px solid #ccc;
}

.markdown-header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.markdown-header button {
    font-size: large;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    color: rgb(208, 255, 143);
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.markdown-body {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    margin: 0 auto;
}

.markdown-body details {
    margin-bottom: 10px;
}

.markdown-body details summary {
    cursor: pointer;
    list-style: none;
}

.markdown-body details[open] summary {
    font-weight: bold;
}

.markdown-body p {
    margin: 10px 0;
}

.markdown-body a {
    color: lightgreen;
}

.section-title, .post-title {
    cursor: pointer;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.section-container {
    font-size: large;
    background-color: black;
    margin-bottom: 20px;
}

.posts-container {
    background-color: black;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 10px;
}

.section-container.expanded .posts-container {
    display: block;
}